<!DOCTYPE html>
<header>
    <div class="nav">
        <div class="left-links">
            <ul>
                <li><a href="https://instagram.com/coolmcools0n">Instagram</a></li>
                <li><a href="https://linkedin.com/userid">LinkedIn</a></li>
                <li><a href="https://github.com/willcran">GitHub</a></li>
            </ul>
        </div>
        <div class="right-links">
            <ul>
                <li><a href="#">Projects</a></li>
                <li><a href="#">About</a></li>
                <li><a href="#">Contact</a></li>
            </ul>
        </div>
    </div>
</header>